/* ----------------------HEADER------------------- */

.header nav h1{
    float:none;
    text-align: center;
}

.header nav ul {
    float:none;
    padding: 0;
}

.header nav ul li {
    float:none;
}

.header nav ul li a {
    padding:10px;
    text-align: center;
}

/* ----------------HERO SECTION------------------------- */

.vp-content {
    padding-top: 50px;
}

.vp-content h1 {
    font-size: 2rem;
}

/* ---------------------FEATURES------------------------- */

.feature {
    float:none;
    width:100%;
    margin-bottom: 2rem;
}

/* ---------------------LOCALISATION------------------------- */

.where {
    padding: 80px 20px 50px 20px;
}

.where img {
    float:none;
    width:80%;
    border:0px;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
}

.where-text {
    float:none;
    width: 100%;
}


/* ---------------------CONTACT------------------------- */

